$color:#000;
$fontWeight: 900;
$a:30px;
$fontSize: 70px + $a;
@mixin test1($b){
    @content;
    color: #c11685;
    font-size: $b;
}
.cha{
    width: 500px;
    height: 500px;
    color: red;
    font-size: $fontSize;
    @include test1(80px) {};
    &_sub{
        color: $color;
        font-weight: $fontWeight;
        &-sub2{
            color: #03f327;
            
        }
    }
}

.me {
    @extend .cha;
}

