.toggle{
    width: 80px;
    height: 34px;
    border-radius: 18px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 48px;
    right: 60px;
    transition: .4s ease-in-out;
}

.sub-toggle{
    width: 28px;
    height: 28px;
    margin-left: 4px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;

    /* position: absolute; */
}
.sub-toggle i{
    color: #fff;
    font-size: 20px;
}

.toggle.active{
    background-color: #000;
}

.sub-toggle.active {
    background-color: #fff;
    transform: translateX(44px);
}
.sub-toggle.active i{
    color:#000;
}

