#banner{
    padding: 60px 0;
    display: flex;
    width: 1320px;
}
#banner__content, #banner__img{
    width: 50%;
}
.banner__item{
    padding:0 12px;
}
#banner__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__item h1{
    margin: 0 0 10px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

.banner__item h2{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;

}

.btn__banner{
    display: flex;
}

.btn__banner a:nth-child(1){
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}

.btn__banner a:nth-child(2)
{
    font-size: 16px;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
    display: flex;
    align-items: center;
}

.btn__banner i{
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

#banner__img img{
    max-width: 100%;
    height: auto;
}

.animation__img{
    animation:up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0%{
        transform:  translateY(10px);
    }
    100%{
        transform:  translateY(-10px);
    }
}