#footer--top{
    padding: 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.footer--top--item{
    width: 25%;
}

a{
    text-decoration: none;
}

.footer--top--item1 h3{
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
}

.footer--top--item1 p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}

.footer--top--item2 h4{
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    margin: 0;
    padding-bottom: 12px
}

.footer--top--item2 ul{
    list-style: none;
    padding: 0 12px;
    margin: 0 0 30px;
}

.footer--top--item2 li{
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.footer--top--item2 i{
    padding-right: 4px;
    color: #47b2e4;
    font-size: 12px;
    line-height: 1;
    margin-right: 4px;
}

.footer--top--item2 a{
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer--top--item2 a:hover{
    color: #47b2e4;
}

.footer__infor a{
    width: 36px;
    height: 36px !important;
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 36px;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
}
.footer__infor a:hover{
    background: #209dd8;
    color: #fff;
}
#footer--bottom {
    background-color: #37517e;
    position: absolute;
    left: 0;
    right: 0;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.footer-container{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer-container strong{
    margin: 0 0 0 6px;
}

.footer-container > div{
    display: flex;
}

.footer-container a{
    color: #47b2e4;
    margin-left: 4px;
    transition: 0.3s;
}

.footer-container a:hover{
    color: #73c5eb;
}
